.Rhistory
literature/
census/social_explorer/
census/all_decades_race_on_cbg10.rds
census/blocks_race_00_on_10_blocks.rds
census/blocks_race_90_on_10_blocks.rds
census/census_blocks_1990.rds
census/census_blocks_2000.rds
census/census_blocks_2010.rds
census/census_var_names.xlsx
census/crosswalks/
census/nhgisinc_csv/
census/hisp_00_on_10_geog.rds
census/nhgis1990_csv/
census/nhgis2000_csv/
census/nhgis2010_csv/
census/race_00_on_10_cbg.rds
census/race_00_weighted_estimates_for_10geog.rds
census/race_10_on_10_cbg.rds
census/race_90_on_10_cbg.rds
census/nhgisacs2019_csv/R12793886_SL150.csv
.RData
green_space/nlcd/
all_vars_on_cbg10_LONG.rds
green_space/usa_parks/*



        